* {
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: white;
  background-color: #1b1b1b;
}

p {
  font-family: "Montserrat", sans-serif;
}

.orange {
  color: #ef463e;
}

.oswaldFont {
  font-family: "Oswald", sans-serif;
}

.montserratFont {
  font-family: "Montserrat", sans-serif;
}

.robotoFont {
  font-family: "Roboto", sans-serif;
}

.navbar-collapse {
  flex-grow: unset;
}

.navbar-custom {
  background-color: #1b1b1b;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
}

.homeBackground {
  height: 100vh;
  background: url("../img/banner2.jpg") no-repeat center/cover;
  background-attachment: fixed;
}

.homeBackground h1 {
  font-size: 4.5em;
}

.homeBackground p {
  font-size: 1.25em;
}

.aboutSection {
  background-color: #ef463e;
}

.aboutSection h1 {
  font-size: 2.5em;
}

.aboutImage {
  background: url("../img/banner1.jpg") no-repeat center/cover;
}

.aboutHistory {
  margin: 4em 0em;
  padding: 5em;
}

.resumeSection {
  background-color: #1b1b1b;
  padding: 7em 0em;
}

.resumeSection h1 {
  font-size: 2.5em;
}

.resumeHeader p {
  font-size: 1.125em;
}

.resumeJobRow {
  padding: 4em 0em;
}

.resumeJobRow span {
  font-size: 2em;
}

.resumeJobName {
  font-size: 1.125em;
}

/*---------------------------FOOTER-----------------------------*/
#scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #376170;
  color: white;
  cursor: pointer;
  padding: 4px 15px;
  border-radius: 10px;
  font-size: 35px;
}

#scrollToTop:hover {
  background-color: rgb(51, 51, 51); /* Add a dark-grey background on hover */
}
