* {
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: white;
  background-color: #1b1b1b;
}

p {
  font-family: "Montserrat", sans-serif;
}

/*-----------------------LOADER---------------------------*/
.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2980b9;
  z-index: 999999;
}

.spinner {
  position: absolute;
  top: 48%;
  left: 48%;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
/*-----------------------LOADER---------------------------*/

.font-size-20 {
  font-size: 20px;
}

.orange {
  color: #ef463e;
}

.pink {
  color: #d63970;
}

.oswaldFont {
  font-family: "Oswald", sans-serif;
}

.montserratFont {
  font-family: "Montserrat", sans-serif;
}

.robotoFont {
  font-family: "Roboto", sans-serif;
}

.navbar-collapse {
  flex-grow: unset;
}

.navbar-custom {
  background-color: #1b1b1b;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
}

.nav-item a:hover {
  color: #ef463e !important;
}

nav .afterCollapsed {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

nav .afterCollapsed a {
  text-decoration: none;
  color: white;
}

nav .afterCollapsed a:hover {
  color: #ef463e;
}

nav .afterCollapsed a.headerSocialLinks {
  padding: 15px;
}

.homeBackground {
  height: 100vh;
  background: url("../img/banner2.jpg") no-repeat center/cover;
  background-attachment: fixed;
}

.homeBackground h1 {
  font-size: 4.5em;
}

.homeBackground p {
  font-size: 1.25em;
}

.aboutSection {
  background-color: #ef463e;
}

.aboutSection h1 {
  font-size: 2.5em;
}

.aboutImage {
  background: url("../img/banner1.jpg") no-repeat center/cover;
}

.aboutHistory {
  margin: 4em 0em;
  padding: 5em;
}

.resumeSection {
  background-color: #1b1b1b;
  padding: 7em 0em;
}

.resumeSection h1 {
  font-size: 2.5em;
}

.resumeHeader p {
  font-size: 1.125em;
}

.resumeJobRow {
  padding: 4em 0em;
}

.resumeJobRow span {
  font-size: 2em;
}

.resumeJobName {
  font-size: 1.125em;
}

.tallinkLink {
  text-decoration: none;
  color: #d63970;
}

.tallinkLink:hover {
  color: #ef463e;
}

.skillsSection {
  background-color: #ef463e;
  padding: 7em 0em;
}

.skillsSection h1 {
  font-size: 2.5em;
}

.skillsHeader p {
  font-size: 1.125em;
}

.skillsGrid i {
  font-size: 7em;
}

.certificatesSection {
  background-color: #1b1b1b;
  padding: 7em 0em;
}

.certificatesSection h1 {
  font-size: 2.5em;
}

.certificatesHeader p {
  font-size: 1.125em;
}

.projectsSection {
  background-color: #1b1b1b;
  padding: 7em 0em;
}

.projectsSection h1 {
  font-size: 2.5em;
}

.projectsHeader p {
  font-size: 1.125em;
}

.projectsGrid a {
  text-decoration: none;
  color: white;
}

.projectsGrid a:hover {
  color: #ef463e;
}

.contactSection {
  margin: 5em;
  padding: 5em;
  background-color: #2d2d2d;
}

@media (max-width: 768px) {
  .contactSection {
    margin: 3em 0em;
    padding: 5em 1em;
  }
}

.contactHeader p {
  font-size: 1.125em;
}

.contactLinks a {
  text-decoration: none;
  color: white;
}

.contactLinks a:hover {
  color: #ef463e;
}

/*---------------------------FOOTER-----------------------------*/
#scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 90px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #376170;
  color: white;
  cursor: pointer;
  padding: 4px 15px;
  border-radius: 10px;
  font-size: 35px;
}

#scrollToTop:hover {
  background-color: rgb(51, 51, 51); /* Add a dark-grey background on hover */
}
