*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: Roboto, sans-serif;
  color: white;
}

#navbar{
  background: #BE3144;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-list{
  list-style-type: none;
  display: flex;
  margin: 0px 30px 0px 0px;
}

.nav-list a{
  display: block;
  text-decoration: none;
  font-size: 23px;
  padding: 20px;
  color: white;
}

.nav-list li:hover{
  background-color: #44567C;
}

#welcome-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #28292C;
}

#welcome-section h1{
  font-size: 60px;
  margin: 0px;
}

#welcome-section p{
  margin: 0px;
  font-size: 25px;
  font-weight: 200;
  font-style: italic;
  color: red;
}

#projects{
  background-color: #45567D;
  text-align: center;
  padding: 90px 40px 90px 40px;
}

#projects h2{
  font-size: 38px;
}

#project-grid{
  display: grid;
  padding: 50px 0px 50px 0px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: 350px;
  grid-gap: 40px;
}

@media only screen and (min-width: 500px){
  #project-grid{
     grid-template-columns: repeat(auto-fit, minmax(320px, 300px));
  }
}

@media only screen and (min-width: 400px){
  #project-grid{
     grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

.project-tile{
  background-color: #303841;
}

.project-image{
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.project-title{
  font-size: 25px;
  padding: 15px;
  color: white;
}

.project{
  text-decoration: none;
}

.code{
  color: orange;
}

.btn{
  background-color: #303841;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 12px 25px;
  font-size: 22px;
  border-radius: 2px;
}

#contact{
  background-color: #303841;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#contact h2{
  font-size: 60px;
}

#contact p{
  font-style: italic;
}

#contact-links{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 45px;
  font-size: 25px;
}

#profile-link{
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

footer{
  background-color: #303841;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  border-top: 4px solid red;
}